USE [master]
GO
/****** Object:  Database [CampusMarketDB]    Script Date: 2026/4/14 18:31:41 ******/
CREATE DATABASE [CampusMarketDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CampusMarketDB', FILENAME = N'D:\新Mysql\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CampusMarketDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CampusMarketDB_log', FILENAME = N'D:\新Mysql\MSSQL15.MSSQLSERVER01\MSSQL\DATA\CampusMarketDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CampusMarketDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CampusMarketDB]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 2026/4/14 18:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[ItemID] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](50) NULL,
	[SellerID] [int] NULL,
	[Price] [decimal](10, 2) NULL,
	[Condition] [nvarchar](50) NULL,
	[PickupLocation] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[ImagePath] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Messages]    Script Date: 2026/4/14 18:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Messages](
	[MsgID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [uniqueidentifier] NOT NULL,
	[SenderID] [int] NOT NULL,
	[ReceiverID] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[SendTime] [datetime] NULL,
	[IsRead] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MsgID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2026/4/14 18:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [uniqueidentifier] NOT NULL,
	[BuyerID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[OrderDate] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[OrderTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026/4/14 18:31:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Items] ([ItemID], [Title], [Category], [SellerID], [Price], [Condition], [PickupLocation], [Description], [ImagePath], [Status]) VALUES (N'6ceb1412-f179-45e4-bb41-01df4d4ea09d', N'衣服', N'other', 9, CAST(5.00 AS Decimal(10, 2)), N'used', N'123', N'', N'IMG_0120_1775142924.jpeg', N'sold')
INSERT [dbo].[Items] ([ItemID], [Title], [Category], [SellerID], [Price], [Condition], [PickupLocation], [Description], [ImagePath], [Status]) VALUES (N'7637ef64-5a28-4adb-9da8-06a8629db2bc', N'guidance', N'other', 7, CAST(4.98 AS Decimal(10, 2)), N'new', N'123', N'', N'2025-10-22_162614_1775725446.png', N'available')
INSERT [dbo].[Items] ([ItemID], [Title], [Category], [SellerID], [Price], [Condition], [PickupLocation], [Description], [ImagePath], [Status]) VALUES (N'fa10aa58-4f0a-488c-b857-21806d63efd3', N'1', N'book', 7, CAST(1.00 AS Decimal(10, 2)), N'new', N'126', N'1', N'default.png', N'sold')
GO
SET IDENTITY_INSERT [dbo].[Messages] ON 

INSERT [dbo].[Messages] ([MsgID], [ItemID], [SenderID], [ReceiverID], [Content], [SendTime], [IsRead]) VALUES (1, N'312ead26-dcfa-4892-a323-f5eeb70c620c', 1, 1, N'你好', CAST(N'2026-03-13T02:04:58.670' AS DateTime), 0)
INSERT [dbo].[Messages] ([MsgID], [ItemID], [SenderID], [ReceiverID], [Content], [SendTime], [IsRead]) VALUES (2, N'312ead26-dcfa-4892-a323-f5eeb70c620c', 1, 1, N'123', CAST(N'2026-03-13T02:05:02.883' AS DateTime), 0)
INSERT [dbo].[Messages] ([MsgID], [ItemID], [SenderID], [ReceiverID], [Content], [SendTime], [IsRead]) VALUES (3, N'312ead26-dcfa-4892-a323-f5eeb70c620c', 7, 1, N'123', CAST(N'2026-03-13T20:46:36.020' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[Messages] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [ItemID], [BuyerID], [SellerID], [Price], [OrderDate], [Status], [OrderTime]) VALUES (1, N'fa10aa58-4f0a-488c-b857-21806d63efd3', 1, 7, CAST(1.00 AS Decimal(10, 2)), CAST(N'2026-03-22T20:31:52.080' AS DateTime), N'completed', CAST(N'2026-03-22T20:31:52.080' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [ItemID], [BuyerID], [SellerID], [Price], [OrderDate], [Status], [OrderTime]) VALUES (2, N'26e038e1-a8c8-45f1-95ee-801ee054e2a1', 1, 7, CAST(2.00 AS Decimal(10, 2)), CAST(N'2026-03-22T20:34:22.297' AS DateTime), N'completed', CAST(N'2026-03-22T20:34:22.297' AS DateTime))
INSERT [dbo].[Orders] ([OrderID], [ItemID], [BuyerID], [SellerID], [Price], [OrderDate], [Status], [OrderTime]) VALUES (3, N'81f9b968-b8ce-4fcb-831b-b24bb80f10fa', 8, 7, CAST(3.00 AS Decimal(10, 2)), CAST(N'2026-03-22T20:57:07.840' AS DateTime), N'completed', CAST(N'2026-03-22T20:57:07.840' AS DateTime))
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (1, N'chen', N'123654')
INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (7, N'cc', N'123')
INSERT [dbo].[Users] ([UserID], [Username], [Password]) VALUES (8, N'踩踩踩', N'123')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E42F0A4325]    Script Date: 2026/4/14 18:31:41 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT (newid()) FOR [ItemID]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ('available') FOR [Status]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT (getdate()) FOR [SendTime]
GO
ALTER TABLE [dbo].[Messages] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Completed') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderTime]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Msg_Item]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Receiver] FOREIGN KEY([ReceiverID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Msg_Receiver]
GO
ALTER TABLE [dbo].[Messages]  WITH CHECK ADD  CONSTRAINT [FK_Msg_Sender] FOREIGN KEY([SenderID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Messages] CHECK CONSTRAINT [FK_Msg_Sender]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Buyer] FOREIGN KEY([BuyerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Buyer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Item] FOREIGN KEY([ItemID])
REFERENCES [dbo].[Items] ([ItemID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Item]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Order_Seller] FOREIGN KEY([SellerID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Order_Seller]
GO
USE [master]
GO
